.buscador {
    width: 70%;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1rem 1rem 1rem;
    background: #FFCB05;
    color: #000000;
    border: 5px solid;
    border-color: #2A74BA;
    border-radius: 1rem;
    z-index: 3;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.btn_mood {
    background-color: #2A74BA;
    color: white;
    width: 100%; /* Establecer el ancho al 100% para abarcar todo el espacio disponible */
    display: block; /* Cambiar a bloque para ocupar todo el ancho disponible */
  }

.btn_mood:hover{
    border: 1px solid;
    border-color: #2A74BA;
    background-color: #FFCB05;
    color: #2A74BA;
}

.card-data-pokemon{
    color: white;
}

@media (max-width: 900px) {
    .btn_mood{
        margin: 1rem 0 0 0; /* Auto para centrar horizontalmente dentro del contenedor */
    }
    
    .buscador {
        width: 99%;
        position: absolute;
        top: 68%;
        left: 53%;
        transform: translate(-50%, -50%);
        padding: 1rem .5rem 1rem .5rem;
        background: #FFCB05;
        color: #000000;
        border: 5px solid;
        border-color: #2A74BA;
        border-radius: 1rem;
        z-index: 3;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    }
}

.custom-select {
    font-size: 4rem; /* Tamaño de fuente personalizado */
    padding: 10px; /* Relleno personalizado */
    width: 100%; /* Ancho personalizado */
    /* Otros estilos personalizados según tus necesidades */
  }