.card_mood{
    width: 100%;
    margin-bottom: 1rem;
    
}

.navegation_pokemon{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.img_pokemon{
    width: 100%;
}

@media (max-width: 900px) {
    .card_mood{

        height: 34rem;
    }
}
